<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ItemDB_20ConnectionString" connectionString="Data Source=PC-NET;Initial Catalog=ItemDB_20;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="AjaxDBConnectionString" connectionString="Data Source=PC-NET;Initial Catalog=AjaxDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>